<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/tizenShooter" version="2.2.0" viewmodes="fullscreen">
    <tizen:application id="5pU9ClO1Se.tizenShooter" package="5pU9ClO1Se" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>tizenShooter</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:setting screen-orientation="portrait" context-menu="disable" background-support="disable" encryption="disable" install-location="auto"/>
	 
	 
	 
	 
	 
	 
</widget>
